.error {
  color: red;
  font-size: 1.0em;
  margin-top: 0.25em;
}

.success {
  color: green;
  font-weight: bold;
  font-size: 1.0em;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-height: 100vh;
  padding: 1rem;
  padding-top: 100px;
  font-family: 'Quicksand';
}


.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  padding: 15px;
  font-family: 'Quicksand';
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff;
}

.formContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;
}


.input {
  width: 97%;
  max-width: 600px;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Quicksand';

}
.ingredientStyle{
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Quicksand';
}
.submitButton {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Quicksand';

}
.submitButton:hover{
  background-color: #4b2903;
  color: #ffffff;
}
.formElement {
  display: block;
  width: 97%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Quicksand';

}

.formElement.textarea {
  height:1rem;
  width: 97%;
  resize: none;
  border-radius: 4px;
}

.button {
  width: auto;
  padding: 0.5rem 1rem;
  font-family: 'Quicksand';

}

.labelContainer {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.checkboxGroup {
  padding: 0; 
  margin-bottom: 0; 
}
.checkboxLabel input[type="checkbox"] {
  width: auto; 
  margin: 0; 
  padding: 0; 
  vertical-align: middle; 
  margin-right: 10px;
}
.checkboxLabel {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}


.categorySelect {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Quicksand';
  border: 2px solid #000000;
  font-family: 'Quicksand';


}
.addButton, .removeButton {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Quicksand';
  padding: 0.5rem 1rem;
}
.addButton:hover{
  background-color: #4b2903;
  color: #ffffff
}
.removeButton:hover{
  background-color: #4b2903;
  color: #ffffff;
}
.returnButton{
  background-color: rgb(255, 255, 255);
  border: 2px solid #000000;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-family: 'Quicksand';

}
.returnButton:hover{
  background-color: #4b2903;
  color: #ffffff;}