.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    min-height: 100vh;
    padding: 1rem;
    padding-top: 100px;
    font-family: 'Quicksand';
}
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
  }
  
  .button {
    background-color: #ffffff;
    border: 2px solid;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
  }
  
  .button:hover {
    background-color: #4b2903;
    color: #ffffff;
    }