.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;

}

.randomRecipeButtonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.randomButton {
  background-color: #cc9169;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-family: 'Quicksand', sans-serif;

}

.randomButton:hover {
  background-color: #4b2903;
  color: #ffffff
  ;}